@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: white;
  background-image: url('https://www.supercook.com/statics/images/onboarding-bg.svg');
  background-size: 300px;
  background-repeat: repeat;
  background-position: top left;
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}




